
#main {
  text-align: center;
  top: 50px;
  position: absolute;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  height: 150px;
  background-color: #1c1f2b;
}

.header img {
  height: 70%;
}

.content {
  color: #2d3143;
  width: 30%;
  height: 100% auto;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 1px #2d3143;
  background-color: #fffffe;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}

.content img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #000;
  margin: auto;
}

.content a {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  margin: 0px 5px 5px 5px;
  padding: 2px 7px 2px 7px;
  color: #fffffe;
  background-color: #1c1f2b;
  border-radius: 5px;
  border: 1px dashed #000;
}

.content a:hover {
  color: #1c1f2b;
  background-color: #fffffe;
  border: 1px dashed #000;
}

.content p span {
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  #navbar {
    height: auto;
    text-align: center;
    position: absolute;
  }
  #navbar ul {
    padding: 0;
  }
  #navbar ul li {
    display: block;
    padding: 10px 0px 10px 0px;
    margin: 0;
    width: 100%;
  }
  #navbar ul li:last-child {
    display: none;
  }
  .dividor {
    display: none;
  }
  #main {
    top: 184px;
  }
  .header {
    height: 75px;
    vertical-align: middle;
  }
  .header img {
    height: 40px;
  }
  .content {
    width: 90%;
  }
  .content a {
    display: inline-block;
    margin: 0px 2px 5px 2px;
  }
}
body{
    padding: 0px;
    margin: 0px;
    position:relative;
    background-image: url("image3.jpg");
    width: 100%;
    
}
div.body {
  position:fixed; /*Could be "fixed" if you need it*/
  width: 100%;
  height: 100%;
  z-index: -1/*This value should be smaller than the other divs*/
}
.header{
    background-color: #1A3333;
    color: white;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
    
}
form{
    background-color: rgb(119, 119, 119);
    width: 40%;
    padding: 50px;
   
    border: 1px solid #cbcbcb;
    margin: 5px auto;
}

.input[type=text]{
    
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
td{
    text-align: right;
}


div.button1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




  .tblone{
   border-collapse: collapse;
   width: 100%;
   color: #588c7e;
   font-family: monospace;
   font-size: 15px;
   text-align: left;
     } 
  th {
   background-color: #323534;
   color: white;
    }
  tr:nth-child(even) {background-color: #f2f2f2}




div.home{
    background-color: rgb(26, 99, 102);
    
    color: white;
    text-align: center;
    top: 0px;
    width: 100%;
    padding: 5px;
    overflow: 0.5;
    
}
 div.work{
            position: relative;
            top: 55px;
            left: 30px;
            font-family:'Pacifico',sans-serif;
            color:white;
            text-shadow: 0px 0px 300px #000;
            font-size: 100%;
            padding-left:400px;
          
            
        }
       .intro{
            position: relative;
            height: 100%;
            width: 100%;
            margin: auto;
            background-image:url(Images/0003335.jpg);
            display:table;
            top: 0;
            background-size: cover;
            }
.myButton {
	background-color: #5d6d7e;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: 1px solid #34495e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:15px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


.btn_course{
	-moz-box-shadow:inset -2px 2px 20px 0px #ffffff;
	-webkit-box-shadow:inset -2px 2px 20px 0px #ffffff;
	box-shadow:inset -2px 2px 20px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:32px;
	-webkit-border-radius:32px;
	border-radius:32px;
	border:5px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 43px;
	text-decoration:none;
}
.btn_course:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.btn_course:active {
	position:relative;
	top:1px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}



}

